script( src='./js/dependencies.js' )
script( src='./js/app.js' )

footer.page-footer
	div.container
		div.row
			div.col.l6.s12
				h5.white-text This is a footer
				p.grey-text.text-lighten-4 With some important info
	div.footer-copyright
		div.container © 2016 Copyright Text