doctype html
html
	head
		title #{pagetitle}
		link( href='./css/styles.css', rel='stylesheet' )
	body
		nav.nav-wrapper
			a.brand-logo Logo
			ul#nav.right.hide-on-med-and-down
				li#loggedoutmenu.hide
					a.modal-trigger#loginmenubutton( href='#loginmodal' ) Login / Register
				li#loggedinmenu.hide
					a#logoutmenubutton( href='#' ) Logout