doctype html
html
	head
		title #{pagetitle}
		link( href='./css/styles.css', rel='stylesheet' )
	body
		nav.nav-wrapper
			a.brand-logo Logo
			ul#nav-mobile.right.hide-on-med-and-down
				li
					a( href='#' ) Home
				li
					a.modal-trigger( href='#loginmodal' ) Login / Register
				li
					a( href='#' ) Contact