div#loginmodal.modal
	div.modal-content
		h3#logintitle.center Login
		div.row
			div.col.l12.m12.s12
				form.col.s12#loginform
					input#loginuser( placeholder="Email", type="email" )
					input#loginpassword( placeholder="Password", type="password" )
					button#loginbutton.btn.waves.col.l8.offset-l2.s12 Login
				p.col.s12#loginmessage.center.hide
				p.col.s12
					a#toggleintent.col.l12.m12.s12.center( href="#" ) Register an account