html
	head
		title App Awesome
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link( href='./css/styles.css', rel='stylesheet' type="text/css" )
		link( href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css" )
	body
		div#container
		p Check
		script( src='./js/app.js' )